* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.div-all {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    width: 210px;
    height: 130px;
    border-radius: 10px;
}

.div-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    background-color: black;
    border: 3px solid gray;
    border-radius: 2px;
}

h1 {
    color: red;
}

button {
    width: 50px;
    height: 26px;
    border-radius: 5px;
    border: none;
}

.start-button {
    background-color: rgb(52, 232, 52);
}

.stop-button {
    background-color: rgb(241, 56, 56);
}

.clear-button {
    background-color: rgb(79, 79, 242);
    font-weight: 500;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}