* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.div-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    background-color: black;
    border: 3px solid gray;
    border-radius: 2px;
}

h1 {
    color: red;
}

button {
    width: 50px;
}

.start-button {
    height: 26px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
}